@import "tailwindcss";
@import "tw-animate-css";

:root{
  font-family: var(--font-inter);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@theme {
   /* Colors  */
   --color-black:#2d3436;
   --color-white:#FFFFFF;
   --color-dark-white:#F5F6FA;
   --color-primary:#2563EB;
   --color-success:#00A46E;
   --color-accent:#E5E7EF;
   --color-danger:#F95524;
   --color-purple:#7C3AED;
   --color-indigo:#4F46E5;
   --color-gray-blue:#595F7A;
   --color-dark-navy:#232948;
   --color-amber: #F59E0B;


   /* Fonts  */
   --font-inter:var(--font-inter);
}

/* style components  */
@layer components{
  .btn-danger{
    @apply bg-danger text-white rounded-lg p-3 font-medium text-sm
  }
  .btn-outline-amber{
    @apply border border-amber text-amber rounded-lg p-3 font-medium text-sm
  }
}